.Trending-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .Trending-Container {
    grid-template-columns: 1fr;
    grid-gap: 0.6rem;
  }
}
