* {
  scroll-behavior: smooth;
}
.App {
  min-height: 100vh;
  background-color: #444;
  padding: 100px 0;
  color: white;
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 700px) {
  .App {
    padding: 80px 0;
  }
  .pageTitle {
    font-size: 4vw;
  }
}
